@font-face {
    font-family: Proxima_Nova_Regular; /* Имя шрифта */
    src: url(../fonts/Proxima-Nova-Regular.otf) format("opentype"); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Barrio_Regular; /* Имя шрифта */
    src: url(../fonts/Barrio-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: BadScript_Regular; /* Имя шрифта */
    src: url(../fonts/BadScript-Regular.ttf); /* Путь к файлу со шрифтом */
}
* {margin:0px; padding:0px;}
body {
	background:#f6f6f6; 
	margin: 0px; 
	overflow: hidden; 
	
	/* font-family: BadScript_Regular; */
	/* font-family: Barrio_Regular; */
	font-family: Proxima_Nova_Regular;
	
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;  
	
	-ms-touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
	
}
div {display:block; position:relative;}
img {max-width:100%; max-height:100%;}
/* TEST ZONE */

/* END TEST ZONE */

/* Back Img */
.background-1 {
	background:url('../img/bac_fon.gif');
}

.content {
	position:relative;
	top:0px;
	left:0px;
	text-align:center;
	margin: 0 auto;
	/* background:url("../img/mid_fon_1.jpg"); */
	background:#000;
}

/* tuch elements */
.block {
	position:absolute;
	z-index:10;
	overflow:hidden;
	color:fff;
}

/* object */
.block-object {
	text-align: center;
	border-radius:20px;
}
.block-active{
	animation: blinkActiveBlock 3s linear infinite;
}
	@keyframes blinkActiveBlock {
		0%   {box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.1); }
		50%  {box-shadow: 0px 0px 40px 1px rgba(255, 255, 255, 0.4); }
		100% {box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.1); }
	}

.block-object .block-target {
	position:absolute;
	cursor:pointer;
	bottom:0px;
	right:0px;
	width:56px;
	height:60px;
	z-index: 10;
}
.block-target-v {
	background:url("../img/icon/finger-mini-45.png");
	background-size: cover;
}
.block-target-va {
	background:url("../img/icon/finger-mini-45-red.png");
	background-size: cover;
}
.block-object .block-delete {
    position: absolute;
    bottom: 62px;
    right: 26px;
	cursor:pointer;
    color: #fff;
    font-size: 25px;
    padding: 0px 6px;
	font-weight: 100;
    z-index: 10;
}
.block-object .block-open {
	position: absolute;
	z-index:8;
	background: rgba(133, 166, 195, 0.2);
	background-image:url("../img/icon/angle_tor_left_1.png");
}
.block-object .block-open img{
	position: absolute;
	width: 200px;
	height: 90px;
	top:0%;
	right:0%;
}
.block-object .open-control-menu {
	cursor:pointer;
    position: absolute;
    bottom: 18px;
    right: 56px;
    color: #fff;
    font-size: 20px;
    padding: 12px 13px;
    z-index: 10;
}
.block-object .blok-content {
	position:relative;
	max-width:100%;
	height: 100%;
	padding: 0px 0px 0px 0px;
	z-index:1;
}
/* img  */
.block-img {
	width:200px;
	text-align: center;
}
.block-img img{
	width:100%;
}
.block-img .block-delete {
    position: absolute;
	cursor:pointer;
    top: 0px;
    right: 4px;
    color: #f00;
    font-size: 20px;
    padding: 4px;
	z-index:10;
}
/*content */
.blok-content img{
	max-width:100%;
	max-height:100%;
}
.blok-content iframe {
	border:none;
	width:100%;
	height:100%;
}
.blok-content canvas {
	border:none;
	width:100%;
	height:100%;
}
.blok-content video {
	border:none;
	width:100%;
	height:100%;
}
.active-mov {
	background:#888;
	z-index:9999;
}
/* Window */
.window {
	position:absolute;
	overflow: hidden;
	z-index:2;
	background-position: 50% 100%;
    background-repeat: no-repeat;
}
/* min window */
.mid_window {
	position:relative;
	width:958px;
	height: 539px;
	vertical-align:top;
	display: inline-block;
}

/* control window */
.control-content {
	position:absolute;
	bottom:0px;
	width:100%;
	height:120px;
	border:1px solid #38b700;
}

.but-create-content {
	vertical-align:top;
	display: inline-block;
	cursor:pointer;
	margin:4px;
	width:60px;
	height:60px;
}
.clone-content {
	display:none;
}


.but-background-content {
	vertical-align:top;
	display: inline-block;
	cursor:pointer;
	margin:4px;
	width:60px;
	height:60px;
	color:#fff;
}
.block-rotary {
	/* background: url("../img/icon/angle_tor_left_1.png") 0% 0% no-repeat; */
}
/* 3d */
.canvas3d {
	position:relative;
	margin: 0px auto;
	width: 100%; 
	height: 100%;
	z-index:1;
}
.canvas3d_dop_block {
	position: absolute;
    left: 0px;
	top:0px;
    width: 100%;
	height:100%;
    z-index: 2;
	background:rgba(0, 0, 0, 0.2);
}
.canvas3d_dop_block .block-delete{ 
	display: inline-block;
    position: absolute;
    top: 94%;
	right:0%;
	cursor:pointer;
    color: #f00;
    font-size: 20px;
    padding: 2px 8px;
    background: linear-gradient(to bottom, rgba(85,228,150,0.6) 0%,rgba(85,228,150,0.6) 18%,rgba(2,226,231,0.6) 100%);
	border: 1px solid rgb(4, 247, 137);
    border-radius: 20px;
    z-index: 10;
}
.content-info-move {
	position:relative;
	top:0px;
}
.blok-content_locking {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:2;
}
.blok-content_dopwindow {
	position:absolute;
	top:0px;
	height:100%;
	z-index:3;
}
.back3dBut {
	position:absolute;
	top:86%;
	right:0px;
	cursor: pointer;
    color: #f00;
    font-size: 30px;
    padding: 0px 6px;
    z-index: 10;
}
.preloader3d {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:10;
	background:#000;
}
.preloader3d p{
	display:inline-block;
	position:absolute;
    top: 45%;
    left: 25%;
    width: 50%;
    height: 1px;
	z-index:10;
}
.preloader3d span{
	display:inline-block;
	position:absolute;
	top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
	border-radius:60%;
	box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 1.0);
	background:#fff;
}
.preloader3d h4{
	position:absolute;
	top: 48%;
    left: 46%;
	color:#fff;
	z-index:10;
}
/* 3D END*/
/* central but */
.central-but {
	position:absolute;
	width:50px;
	height:50px;
	left: calc(50% - 25px);
	background-image:url("../img/icon/central_but_tech.png");
	background-size:cover;
	z-index:10;
	
	animation: blinkCentrBut1 3s linear infinite;
}
	@keyframes blinkCentrBut1 {
		0%   { background-color: rgba(255, 255, 255, 0.4); box-shadow: 0px 0px 60px 0px rgba(255, 255, 255, 1.0); }
		50%  { background-color: rgba(255, 255, 255, 0.2); box-shadow: 0px 0px 120px 0px rgba(255, 255, 255, 0.8); }
		100% { background-color: rgba(255, 255, 255, 0.4); box-shadow: 0px 0px 60px 0px rgba(255, 255, 255, 1.0); }
	}
	
.shine {
	animation: blinkCentrBut2 3s linear infinite;
}
	@keyframes blinkCentrBut2 {
		0%   {
			background-color: rgba(255, 255, 255, 0.55); 
			box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1.0),0px 0px 20px 0px rgba(255, 255, 255, 1.0); 
		}
		50%  {
			background-color: rgba(255, 255, 255, 0.3);
			box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.8),0px 0px 40px 0px rgba(255, 255, 255, 0.8); 
		}
		100% {
			background-color: rgba(255, 255, 255, 0.55);
			box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1.0),0px 0px 20px 0px rgba(255, 255, 255, 1.0); 
		}
	}

.shine_red {
	animation: blinkCentrBut2Red 3s linear infinite;
}
	@keyframes blinkCentrBut2Red {
		0%   {
			background-color: rgba(255, 0, 0, 0.55); 
			box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 1.0),0px 0px 20px 0px rgba(255, 0, 0, 1.0); 
		}
		50%  {
			background-color: rgba(255, 0, 0, 0.3);
			box-shadow: 0px 0px 40px 0px rgba(255, 0, 0, 0.8),0px 0px 40px 0px rgba(255, 0, 0, 0.8); 
		}
		100% {
			background-color: rgba(255, 0, 0, 0.55);
			box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 1.0),0px 0px 20px 0px rgba(255, 0, 0, 1.0); 
		}
	}
	
	
.shine_blu {
	animation: blinkCentrBut2Blu 3s linear infinite;
}
	@keyframes blinkCentrBut2Blu {
		0%   {
			background-color: rgba(91,240,230, 0.55); 
			box-shadow: 0px 0px 20px 0px rgba(91,240,230, 1.0),0px 0px 20px 0px rgba(91,240,230, 1.0); 
		}
		50%  {
			background-color: rgba(91,240,230, 0.3);
			box-shadow: 0px 0px 40px 0px rgba(91,240,230, 0.8),0px 0px 40px 0px rgba(91,240,230, 0.8); 
		}
		100% {
			background-color: rgba(91,240,230, 0.55);
			box-shadow: 0px 0px 20px 0px rgba(91,240,230, 1.0),0px 0px 20px 0px rgba(91,240,230, 1.0); 
		}
	}

.central-but-click{
	position: relative;
	cursor:pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.centr-mini-but {
	position:absolute;
	opacity: 0.0;
	display:none;
	
}
.mini-but-s {
	width:20px;
	height:20px;
	margin:20px auto;
	border-radius:50%;
}
.show-dop-info-text {
	position:absolute;
	width:65px;
	color:#fff;
}
.arrow-text-right {
	position:absolute;
	top:40px;
	left:-8px;
	width:125px;
	height:60px;
	background:url("../img/orig/strelka-right.png");
	background-size:cover;
}
.arrow-text-top {
	position:absolute;
	top:27px;
	left:27px;
	width:14px;
	height:33px;
	background:url("../img/orig/strelka-top.png");
	background-size:cover;
}
.arrow-text-top_big {
	position:absolute;
	top:40px;
	left:25px;
	width:12px;
	height:61px;
	background:url("../img/orig/strelka-top_big.png");
	background-size:cover;
}
.arrow-text-left {
	position:absolute;
	top:40px;
	left:-60px;
	width:125px;
	height:60px;
	background:url("../img/orig/strelka-left.png");
	background-size:cover;
}

/* Commercial */
.commercial-window {
	position:absolute;
	/* background:#f00; */
	z-index:1;
}
/* - Commercial - */

/* admin */
.admin-control-window {
	position:fixed;
	display:none;
	padding: 20px 0px;
	z-index:101;
}
.admin-control-window p{
	color: #fff;
}
.admin-control-window a{
	display: inline-block;
	width:80px;
	color: #fff;
    padding: 10px 10px;
    margin: 10px 0px;
    text-decoration: none;
	text-align:center;
}
.admin-control-window-open {
	position:absolute;
	bottom:0px;
	left:0px;
	width:200px;
	height:100px;
	/* background:#fff; */
	/* border:1px solid #FFF; */
	z-index:8;
}
/* admin */
/* Vip */
.vip-rotate-but img{
	position: absolute;
	top: 15px;
    left: 15px;
    width: 49%;
    height: 49%;
}
.vip-rotate-but {
	vertical-align: top;
    display: inline-block;
    cursor: pointer;
    margin: 4px;
    width: 60px;
    height: 60px;
}
.vip-rotate-but .create-content-info {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
.vip-rotate-but .create-content-info img{ 
	position:absolute;
    top: 9px;
    left: 8px;
    width: 70%;
    height: 70%;
}
.text-info-control {
	position:absolute;
	overflow:hidden;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
/* text info in the 3D windov */
.text-info {
	word-break: break-all;
	color:#fff;
	text-align:left;
	padding:35px 40px;
}
.text-info p{
	color:rgba(212, 237, 255, 0.4);
	font-size: 14px;
	padding-bottom: 20px;
}
.text-info h2{
	position:relative;
	display:block;
	text-transform: uppercase;
    color: #000;
	padding: 0px 90px 0px 6px;
	margin-bottom: 26px;
    border-left: 2px solid #02b4e4;
	background:url("../img/icon/tringle-title-info-text.png") 99% 0% no-repeat;
	background-size: 65px 100%;
}

.text-info h2 span{
    display: inline-block;
    background: #bfbfbf;
    padding: 8px 8px 8px 8px; 
	min-width:100%;
}

.text-info h3{
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 10px;
}
.text-info ul{ 
	padding-bottom: 20px;
    padding-left: 28px;
    color: rgba(212, 237, 255, 0.4);
}
/* Help window*/
.but-help-viwe-info {
	vertical-align: top;
    display: inline-block;
    cursor: pointer;
    margin: 4px;
    width: 60px;
    height: 60px;
}
.help-view-wind {
	overflow: hidden;
	z-index:100;
}
.help-wind-View-content {
	z-index:1;
}
.help-wind-content-size {
	position: absolute;
    margin: 0 auto;
    bottom: 0px;
    left: calc(50% - 490px);
}
.help-wind-View-content img	{

}
.but-help-сlosew-info{
	position:absolute;
    width: 60px;
    height: 60px;
    bottom: 85px;
    left: 88;
	z-index:100;
}


/* mobile version */
.tt-mobile-menu {
	width: 70px;
    height: 50px;
	position:absolute;
	bottom: 20px;
	right:0px;
	z-index:12;
	
}

.ttm-central-but {
	position:absolute;
	bottom:20px;
	right:20px;
	display:block;
	width:50px;
	height:50px;
	background-image:url("../img/icon/central_but_tech.png");
	background-size:cover;
	z-index:12;
	animation: blinkCentrBut1 3s linear infinite;
}
.ttm-all-mini-but {
	position:absolute;
	bottom:0px;
	right:0px;
	width:0%;
	height:70px;
	z-index:11;
	opacity: 0;
}
.ttm-all-mini-butC {
	position:absolute;
	left:0px;
	width: calc(100% - 80px);
}
.ttm-mini-but {
	position:relative;
	display:inline-block;
	width:20%;
	height:100%;
	margin-right:0px;
}

#info1 {
	position:absolute;
	right:0px;
	bottom:0px;
	width:300px;
	height:40px;
	background:#999;
	color:#fff;
}

#info2 {
	position:absolute;
	right:0px;
	bottom:40px;
	width:300px;
	height:40px;
	background:#666;
	color:#fff;
}
#info3 {
	position:absolute;
	right:0px;
	bottom:80px;
	width:300px;
	height:40px;
	background:#444;
	color:#fff;
}
